:root {
    --color-A:#dfd9e0; /*--color-B */
    --color-B:#202020; /*Background Color Navbar and product name+price old:#262b30*/
    --color-B-Darker: #0e0e0e; /*sidebar selected children hover */
    --color-G_F:#3aabe0; /* Home search icon, NavBar top border old:#29ce29*/
    --color-G-Darker:#2d85ad; /*Navbar buttons Hover*/
}	
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color:var(--color-A) ;
}

div {
    text-align: center;
    margin: auto;
}

#registerBox{
    z-index: 200;
    width:800px;
    height:600px;
    background: var(--color-B);
    top:50%;
    left:50%;
    position: fixed;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    color:white;
    border-radius: 25px;
    padding-right:30px;
    padding-left:30px;
    transition: opacity 5s ease-in-out;
}
#registerBox h1{
    text-align: center;
    color: var(--color-G_F);
}

form#form2{
    margin-top:40px;
    width:500px;
}
#registerBox input{
    margin-bottom: 15px;
}
div.left {
    height: 100px;
    float: left;
    width: 50%;    
}
#registerBox input[type="submit"]{
    width:50%;
    margin-top:40px;
    background-color: var(--color-G_F);
    color: white;
    font-weight: bold;
    border:none;
    outline:none;
    height: 40px;
    border-radius:20px;
    cursor: pointer;
}
#registerBox input[type="text"],input[type="password"],input[type="tel"],input[type="email"]{
    display: block;
    border:none;
    background:transparent;
    outline:none;
    border-bottom:1px solid #dfd9e0;
    color:white;
    margin: auto;
}

div.right {
    float:right;
    height: 100px;
    width: 40%;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 4vh;
}