#SideMenu.Shifted {transform: translate(var(--sidebar-width));}
#SideMenu{
    position: fixed;
    top: 0;
    width: var(--sidebar-width);
    height: 100%;
    left: calc(-1 *var(--sidebar-width));
    transition: transform 0.2s ease;
}

#SideMenu li.dropDown{
    display: block;
    padding: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
#SideMenu li.dropDown:hover {background-color: var(--color-C);}
#SideMenu li.dropDown.active:hover {background-color: var(--color-G_L);}
#SideMenu li a {
    display: block;
    font-weight: bold;
    padding: 16px;
    background-color: var(--color-C);
    color: white;
    text-align: center;
    text-decoration:none;
    transition: background-color 0.1s ease-in-out;
}
#SideMenu li a:hover {background-color: #0c0e0f;}